header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items:center;
    background-color: cadetblue;
    padding: 25px 70px;

}
nav ul{
    display: flex;
    gap: 25px;
    list-style: none;
    
}
nav a{
    text-decoration: none;
    color: white;
    font-size: 17px;
    font-weight: bold;
}
nav h2{
   font-size: 25px;
    font-weight: bold;
}